<body>
  <div class="wrapper">
    <app-listperson #listpersoncomponent (addNewPersonEvent)="addPersonClick(event)" (editListPersonEvent)="editPersonClick(event)" (homeButtonClickEvent)="homeButtonClickEvent(event)"></app-listperson>
    <div class="main_content">
      <div class="container">
        <app-addperson #addpersoncomponent *ngIf="showNewPersonComponent" (addPersonEvent)="listpersoncomponent.addPerson(event)"></app-addperson>
        <app-editperson #editpersoncomponent *ngIf="showEditPersonComponent" (editPersonEvent)="listpersoncomponent.editPerson(event)" (updatePersonEvent)="updatePerson(event); listpersoncomponent.fetchPeople()"></app-editperson>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>
